

<span> <a class="btn btn-info" href="http://www.facebook.com">Facebook</a> </span>
<span> <a class="btn btn-info" href="http://www.youtube.com">Youtube</a> </span>
<span> <a class="btn btn-info" href="http://www.instagram.com">Instagram</a> </span>
<span> <a class="btn btn-info" href="http://www.linkedin.com">LinkedIn</a> </span>
